---
layout: default
---

<div class="vitrine">
  <section class="content content-default">
    <div class="container">
      <div class="row">
        <div class="grid-6" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
          <h1>Mais que conteúdo, histórias. <br>Mais que alunos, pessoas.</h1>
         </div>   
       </div>
    </div>
  </section>
  <section class="content content-freshman">
    <div class="container">
      <div class="row">
        <div class="grid-6" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
          <h1>Passei!<br> Parabéns a todos os alunos por essa conquista.</h1>
         </div>   
       </div>
    </div>
  </section>
</div>
{% include courses.html %}
{% include news.html %}
{% include school.html %}
{% include location.html %}
{% include contact.html %}