<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="grid-12">
        <h2 class="title">Contato</h2>
      </div>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="grid-6">
        <h3>Secretaria</h3>
        <a href="mailto:secretaria@colegioninimourao.com.br" title="Secretaria">secretaria@colegioninimourao.com.br</a>
        <p><strong>Secretária:</strong> Cristine Irene Matias de Carvalho</p>
        <p><strong>Auxiliar de secretaria:</strong> Leila Jeremias Matoso</p>

        <h3>COORDENAÇÃO E.F. II e E.M.</h3>
        <a href="mailto:coordenacao@colegioninimourao.com.br" title="Cordenação">coordenacao@colegioninimourao.com.br</a>
        <p><strong>Coordenadora Pedagógica:</strong> Claudete Carvalho Novaes</p>

        <h3>PSICOLOGIA</h3>
        <a href="mailto:psico@colegioninimourao.com.br" title="Psicologia">psico@colegioninimourao.com.br</a>
        <p><strong>Psicóloga:</strong> Eliana Bachin</p>

      </div>

      <div class="grid-6">
        <h3>Direção Pedagógica</h3>
        <a href="mailto:diretoria@colegioninimourao.com.br" title="Direção Pedagógica">diretoria@colegioninimourao.com.br</a>
        <p><strong>Diretora:</strong> Carolina de Vergennes Nogueira</p>

        <h3>COORDENAÇÃO E. INFANTIL e E.F.I.</h3>
        <a href="mailto:infantil@colegioninimourao.com.br" title="Coordenação E. Infantil e E.F.I.">infantil@colegioninimourao.com.br</a>
        <p><strong>Coordenadora Pedagógica:</strong> Raquel de Cássia Zanette</p>

      </div>
    </div>

  </div>
</section>
