<section id="courses" class="courses">
  <div class="container">
    <div class="row">
      <div class="grid-12">
        <h2 class="title">Cursos</h2>
      </div>
    </div>
    <div class="row">
      <div class="grid-5">
        <a href="{{ site.baseurl }}{% link educacao-infantil.html %}" title="Educação Infantil">
          <div class="banners educacao-infantil aos-item" data-aos="fade-right">
            <h3>Educação Infantil</h3>
          </div>
        </a>
      </div>
      <div class="grid-7">
        <a href="{{ site.baseurl }}{% link ensino-fundamental.html %}" title="Ensio Fundamental">
          <div class="banners educacao-fundamental aos-item" data-aos="fade-left">
            <h3>Ensino Fundamental</h3>
          </div>
        </a>
        <a href="{{ site.baseurl }}{% link ensino-medio.html %}" title="Educação Fundamental">
          <div class="banners ensino-medio aos-item" data-aos="fade-left">
            <h3>Ensino Médio</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
