<footer>

  <div class="container">
    <div class="row">
      <div class="grid-4">
        <h4>{{ site.title | escape }}</h4>
        <p>Desenvolvendo talentos. Construindo cidadãos.</p>

      </div>
      <div class="grid-4">
        <h5>Institucional</h5>
        <ul>
          <li>
            <a href="{{ site.baseurl }}/nini-mourao.html">Conhecendo a Nini Mourão</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/familia-nini-mourao.html">Família Nini Mourão</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/alunos.html">Aos pais e alunos</a>
          </li>
        </ul>
      </div>
      <div class="grid-4">
        <div class="icons">
          <a href="http://www.fungotac.com.br"><img src="{{ site.baseurl }}/assets/images/fungotac/logo.png" height="80" alt=""></a>
          <a href="https://www.facebook.com/Colegio.Nini.Mourao" title="Curta nossa página no Facebook.">
            <img src="{{ site.baseurl }}/assets/images/icon-facebook.svg" alt="Logo" width="12" height="22" />
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="license">
    <div class="container">
      <div class="row">
        <div class="grid-6">
          <p>Todos os direitos reservados © 2018</p>
        </div>
      </div>
    </div>
  </div>

</footer>

<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.vitrine').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: true,
      autoplay: false,
      autoplaySpeed: 3000,
      speed: 500
      // fade: true,
      // cssEase: 'linear'
    });
  });
</script>

<script>
  AOS.init({
    easing: 'ease-out-back',
    duration: 1000
  });
</script>
