<header class="navbar">
  <div class="container">
    <div class="row">
      <div class="grid-6">
        <a href="{{ site.baseurl }}/" title="Colégio Nini Mourão"><img class="logo" src="{{ site.baseurl }}/assets/images/logo-colegio-nini-mourao.png" alt="Colégio Nini Mourão"></a>
      </div>
      <div class="grid-6">
        <nav>
          <ul>
            <li><a data-scroll href="{{ site.baseurl }}/#courses" title="Cursos">Cursos</a></li>
            <li><a data-scroll href="{{ site.baseurl }}/#news" title="Notícias">Notícias</a></li>
            <li><a data-scroll href="{{ site.baseurl }}/#school" title="Instalações">Instalações</a></li>
            <li><a data-scroll href="{{ site.baseurl }}/#location" title="Localização">Localização</a></li>
            <li><a data-scroll href="{{ site.baseurl }}/#contact" title="Contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
