<section id="location" class="location">
  <div class="container">
    <div class="row">
      <div class="grid-12">
        <h2 class="title">Localização</h2>
      </div>
    </div>
  </div>
  <div class="map">
    <address data-aos="flip-left">
      <div>
        <h4>Rua Prefeito Chagas, 444</h4>
        <p>Centro</p>
        <p>Poços de Caldas</p>
        <p>CEP 37701-010</p>
      </div>
      <div>
        <p>Telefone</p>
        <h4>(35) 3729-6520</h4>
      </div>
    </address>

    <div id="map"></div>
    {% include maps-script.html %}

  </div>
</section>
