<section id="news" class="news">
  <div class="container">
    <div class="row">
      <div class="grid-12">
        <h2 class="title">Acontece no Nini</h2>
      </div>
    </div>
    <div class="row">
      <div class="grid-8">
        {% assign post = site.posts.first %}
          <div class="firt-news">
            <a href="{{ post.url | relative_url }}.html">
              <h3>
                <span class="post-date">{{ post.date | date: "%d/%m/%Y %R" }}</span>
                {{ post.title }}
              </h3>
              <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
            </a>
          </div>
      </div>
      <div class="grid-4">
        <ul class="list-news">
          {% for post in site.posts offset:1 limit:4 %}
          <li data-aos="fade-up">
            <a href="{{ post.url | relative_url }}.html">
              <span class="post-date">{{ post.date | date: "%d/%m/%Y %R" }}</span>
              <h3>{{ post.title }}</h3>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
