<div class="container">
  <div class="row">
    <div class="grid-12">
      <h2>Missão</h2>
      <cite>“Oferecer à comunidade Poços-caldense um ensino de excelência e eficaz, para formar o cidadão autêntico.”</cite>
    </div>
  </div>

  <div class="row">
    <div class="grid-12">
      <h2>Metas</h2>
      <p>
        Queremos que nossos alunos, respeitando sua faixa etária e série sejam capazes de:
      </p>
      <ul>
        <li>I - Dominar a leitura e a escrita;</li>
        <li>II - Fazer cálculos e resolver problemas;</li>
        <li>III - Analisar, sintetizar e interpretar dados, fatos e situações;</li>
        <li>IV - Compreender e atuar em seu entorno social;</li>
        <li>V - Receber criticamente os meios de comunicação;</li>
        <li>VILocalizar, acessar e usar melhor a informação acumulada;</li>
        <li>VII - Planejar, trabalhar e decidir em grupo;</li>
        <li>VIII - Desenvolver uma mentalidade internacional.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="grid-12">
      <h2>Material didático</h2>
      <p>
        Art. 41 – O material didático foi adotado no ano de 2002, com implantação e integração à Rede Pitágoras, sendo destinados à Educação Infantil, ao Ensino Fundamental e Ensino Médio, buscando nesse processo favorecer e visar a vida escolar do aluno. Fortalecendo o conhecimento e os métodos pedagógicos, visando a proposta curricular com o alinhamento ao projeto pedagógico da Rede Pitágoras:
      </p>
      <ul>
        <li>I – desenvolver trabalho com a comunidade escolar e seus anseios baseados nos parâmetros curriculares e projeto pedagógico;</li>
        <li>II – atender as necessidades dos professores e alunos quanto à proposta da instituição, quanto ao conhecimento dos alunos e treinamento de nossa equipe docente.</li>
        <li>§ 1º – O custo do material deverá estar devidamente registrado no contrato de prestação de serviço emitido anualmente aos responsáveis dos alunos matriculados.</li>
        <li>§ 2º - não é permitida a cópia (xerox ou reprográfica)  total ou parcial do material, de acordo com contrato firmado com a Rede Pitágoras, conforme lei de direitos autorais pertencentes à mesma.</li>
      </ul>
    </div>
  </div>
</div>
