a{
  &.btn{
    text-decoration: none;
    padding: 6px 20px;
    text-align: center;
    &:hover{
      background-color: white;
      color: #09ADF5;
    }
    &-arround{
      border: solid 1px white;
      border-radius: 100px;
      
      &-color{
        border: none;
        background: #0BC0F7;
        color: white;
        &:hover{
          background: #01A0D0;
          color: white;
        }
      }
    }
    &-large{
      padding: 12px 80px;
      font-size: 1.1em;
      
      
      @media only screen and (max-width: 550px) {
        padding: 20px 80px;
        width: auto;
        display: block;
      }
      
    }
  }
  &.go-to-back{
    background: url("/assets/images/elements/icon-right-arrow.png") no-repeat;
    margin: 40px 0 0 0;
    display: block;
    width: 32px;
    height: 23px;
    &:hover{
      opacity: .6;
      cursor: pointer;
    }
  }
}
