nav{
  ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    @media only screen and (max-width: 550px) {
      display: none;
    }
    li{
      margin: 0 10px;
      display: block;
      a{
        color: white;
        text-decoration: none;
        &:hover{
          color: #CCC;
        }
      }
    }
  }
}
