footer{
  background: #464A4B;
  h5{
    color: #14DCED;
    font-size: 1.1em;
    margin: 20px 0 0 0;
    &::after{
      content: '';
      width: 30px;
      height: 5px;
      background: #14DCED;
      display: block;
      margin: 10px 0;
    }
  }
  ul{
    margin: 0;
    li{
      padding: 10px 0;
      a{
        font-size: .9em;
        color: white;
      }
    }
  }
  
  p{
    font-size: .8em;
  }
  h4, p{
    margin: 0;
    color: white;
  }
  h4{
    margin: 20px 0 5px 0;
  }
  
  .icons{
    display: flex;
    justify-content: flex-end;
    a{
      display: block;
      margin: 20px 0 0 20px;
    }
  }
  
  .license{
    width: 100%;
    background: #CCC;
    height: 20px;
    clear: both;
    padding: 20px 0;
    display: flex;
    align-items: flex-end;
    overflow: auto;
    .grid-6{
      margin: 0;
    }
    p{
      color: #464A4B; 
    }
    .documents{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    a{
      margin: 0 0 0 18px;
      display: inline-block;
      color: #464A4B;
      font-size: .835em;
    }
  }
}