.school{
  a{
    text-decoration: none;
    &:hover{
      opacity: 0.8;
    }
  }
  height: 545px;
  background: url(images/school.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  @media only screen and (max-width: 550px) {
    background: url(images/school.png) no-repeat -450px 0px;

  }

  .title{
    color: white;
    margin: 0 0 80px 80px;
    width: 350px;
    &:after{
      background: white;
    }
  }
}
