header{
  width: 100%;
  position: absolute;
  top: 60px;
  z-index: 1;
  
  @media only screen and (max-width: 550px) {
    top: 40px;
  }
}

.container{
  width: 1004px;
  margin: 0 auto;
}

.navbar{
  display: flex;
}

.row{
  box-sizing: border-box;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}
